@model IEnumerable<matidesign.Models.MachiarukiData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account.InsAccountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Events.InsAccountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsAccountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdAccountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YukoFlg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Altitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accuracy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AltitudeAccuracy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Heading)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account.InsAccountId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Events.InsAccountId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsAccountId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdAccountId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YukoFlg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Altitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accuracy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AltitudeAccuracy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Heading)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Speed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MachiarukiDataId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MachiarukiDataId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MachiarukiDataId })
        </td>
    </tr>
}

</table>
