@model matidesign.Models.Events

@{
    ViewBag.Title = "Delete";
}

<h2>削除</h2>

<h3>削除してよろしいですか？</h3>
<div>
    <h4>活動情報</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventsId)
            <br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventsId)
            <br />
        </dd>
        <br />

        @*<dt>
            @Html.DisplayNameFor(model => model.Jichitai.InsAccountId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jichitai.InsAccountId)
            <br />
        </dd>
        <br />*@

        @*<dt>
            @Html.DisplayNameFor(model => model.InsDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsAccountId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsAccountId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdAccountId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdAccountId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YukoFlg)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.YukoFlg)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Group.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.GroupName)
            <br />
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
            <br />
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.KaisaiDate_Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KaisaiDate_Start)
            @Html.DisplayFor(model => model.KaisaiTime_Start)
        </dd>
        <br />

        @*<dt>
            @Html.DisplayNameFor(model => model.KaisaiTime_Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KaisaiTime_Start)
            <br />
        </dd>
        <br />*@

        <dt>
            @Html.DisplayNameFor(model => model.KaisaiDate_End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KaisaiDate_End)
            @Html.DisplayFor(model => model.KaisaiTime_End)
        </dd>
        <br />

        @*<dt>
            @Html.DisplayNameFor(model => model.KaisaiTime_End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KaisaiTime_End)
            <br />
        </dd>
        <br />*@

        <dt>
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDescription)
            <br />
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.EventDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDetails)
            <br />
        </dd>
        <br />


        <dt>
            @Html.DisplayNameFor(model => model.Kaijo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kaijo)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.KaijoAdr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KaijoAdr)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.KaijoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KaijoUrl)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.MaxNinzu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxNinzu)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Kaihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kaihi)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.KaihiBiko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KaihiBiko)
        </dd>
        <br />

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
