@model IEnumerable<matidesign.Models.Machiaruki>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InsDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsAccountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdAccountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YukoFlg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InsDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsAccountId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdAccountId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YukoFlg)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventsId })
        </td>
    </tr>
}

</table>
