@model matidesign.Models.Events

@{
    ViewBag.Title = "Details";
}

<h2>詳細表示</h2>

<div>
    <h4>イベント情報</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventsId)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.InsDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsDate)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.UpdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdDate)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.InsAccountId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsAccountId)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.UpdAccountId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdAccountId)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.YukoFlg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YukoFlg)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Group.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.GroupName)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.KaisaiDate_Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KaisaiDate_Start)
            @Html.DisplayFor(model => model.KaisaiTime_Start)
        </dd>
        <br />

        @*<dt>
            @Html.DisplayNameFor(model => model.KaisaiTime_Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KaisaiTime_Start)
        </dd>
        <br />*@

        <dt>
            @Html.DisplayNameFor(model => model.KaisaiDate_End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KaisaiDate_End)
            @Html.DisplayFor(model => model.KaisaiTime_End)
        </dd>
        <br />

        @*<dt>
            @Html.DisplayNameFor(model => model.KaisaiTime_End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KaisaiTime_End)
        </dd>
        <br />*@

        <dt>
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDescription)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.EventDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDetails)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Kaijo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kaijo)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.KaijoAdr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KaijoAdr)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.KaijoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KaijoUrl)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.MaxNinzu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxNinzu)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Kaihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kaihi)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.KaihiBiko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KaihiBiko)
        </dd>
        <br />


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
