@model matidesign.Models.Jichitai

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Jichitai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JichitaiCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JichitaiCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JichitaiName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JichitaiName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiyoFlg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiyoFlg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JichitaiId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
