@model matidesign.Models.Jichitai

@{
    ViewBag.Title = "Delete";
}

<h2>削除</h2>

<h3>削除してよろしいですか？</h3>
<div>
    <h4>自治体情報</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JichitaiId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JichitaiId)
        </dd>
        <br/>

        <dt>
            @Html.DisplayNameFor(model => model.InsDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsDate)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.UpdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdDate)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.YukoFlg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YukoFlg)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.JichitaiName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JichitaiName)
        </dd>
        <br />

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
