@model matidesign.Models.MachiarukiData

@{
    ViewBag.Title = "Details";
}

<h2>詳細表示</h2>

<div>
    <h4>まち歩き結果</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MachiarukiDataId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MachiarukiDataId)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Account.InsAccountId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.InsAccountId)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Events.InsAccountId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Events.InsAccountId)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.InsDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsDate)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.UpdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdDate)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.InsAccountId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsAccountId)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.UpdAccountId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdAccountId)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.YukoFlg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YukoFlg)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Altitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altitude)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Accuracy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accuracy)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.AltitudeAccuracy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltitudeAccuracy)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Heading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Heading)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Speed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speed)
        </dd>
        <br />

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MachiarukiDataId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
